{
  "name": "{{name}}",
  "version": "0.0.1",
  "description": "{{description}}",
  "main": "index.js",
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "author": "Steve Faulkner <steve@bustle.com>",
  "dependencies": {}
}
