{
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "assert": false,
    "proxyquire": false
  },
  "extends": [
    "standard",
    "plugin:import/errors",
    "plugin:import/warnings"
  ]
}
